<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifólio Dev</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <link rel="stylesheet" href="sobre.css">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<body>
  <nav class="flex items-center justify-between px-6 py-3 bg-white border-b border-gray-100">

    <div class="flex items-center gap-4">
      <button class="text-gray-600 p-2 rounded-lg">
        <i data-lucide="menu" class="w-6 h-6"></i>
      </button>

      <div class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full bg-black text-white flex items-center justify-center font-bold text-sm">
          Y
        </div>
      </div>
    </div>

    <div class="flex items-center border border-gray-200 rounded-full px-2 py-1.5 shadow-sm">
      <div class="flex items-center">
        <a href="index.html" target="_self" class="flex items-center gap-2 text-gray-500 hover:text-gray-900 px-4 py-2 rounded-full">
          <i data-lucide="home" class="w-4 h-4"></i>
        </a>
        <a href="sobre.html" target="_self" class="flex items-center gap-2 bg-gray-100 text-gray-900 px-4 py-2 rounded-full font-medium">
          <i data-lucide="user" class="w-4 h-4"></i>
          Sobre
        </a>
      </div>
      <div class="flex items-center gap-1 px-2">
        <a href="#" class="p-2.5 text-gray-500 hover:text-gray-900 transition"><i data-lucide="briefcase"
            class="w-5 h-5"></i></a>
        <a href="#" class="p-2.5 text-gray-500 hover:text-gray-900 transition"><i data-lucide="book-open"
            class="w-5 h-5"></i></a>
        <a href="#" class="p-2.5 text-gray-500 hover:text-gray-900 transition"><i data-lucide="notebook-pen"
            class="w-5 h-5"></i></a>
        <a href="#" class="p-2.5 text-gray-500 hover:text-gray-900 transition"><i data-lucide="mail"
            class="w-5 h-5"></i></a>
      </div>
    </div>

    <div class="flex items-center gap-2">
      <span class="w-3 h-3 bg-emerald-500 rounded-full"></span>
      <span class="text-gray-500 font-medium">Disponível</span>
    </div>

  </nav>
<section>
  <div class="timeline">
  <div class="line"></div>

  <div class="item left">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2019</span>
      <h3>Início da Jornada</h3>
      <p>Estudos de HTML, CSS e JS.</p>
    </div>
  </div>

  <div class="item right">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2026</span>
      <h3>Especialista em Backend</h3>
      <p>Foco em performance e persistência com **Redis**.</p>
    </div>
  </div>
    <div class="item left">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2019</span>
      <h3>Início da Jornada</h3>
      <p>Estudos de HTML, CSS e JS.</p>
    </div>
  </div>

  <div class="item right">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2026</span>
      <h3>Especialista em Backend</h3>
      <p>Foco em performance e persistência com **Redis**.</p>
    </div>
  </div>
    <div class="item left">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2019</span>
      <h3>Início da Jornada</h3>
      <p>Estudos de HTML, CSS e JS.</p>
    </div>
  </div>

  <div class="item right">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2026</span>
      <h3>Especialista em Backend</h3>
      <p>Foco em performance e persistência com **Redis**.</p>
    </div>
  </div>
    <div class="item left">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2019</span>
      <h3>Início da Jornada</h3>
      <p>Estudos de HTML, CSS e JS.</p>
    </div>
  </div>

  <div class="item right">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2026</span>
      <h3>Especialista em Backend</h3>
      <p>Foco em performance e persistência com **Redis**.</p>
    </div>
  </div>
    <div class="item left">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2019</span>
      <h3>Início da Jornada</h3>
      <p>Estudos de HTML, CSS e JS.</p>
    </div>
  </div>

  <div class="item right">
    <div class="dot"></div>
    <div class="content">
      <span class="year">2026</span>
      <h3>Especialista em Backend</h3>
      <p>Foco em performance e persistência com **Redis**.</p>
    </div>
  </div>
</div>
</section>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>lucide.createIcons();</script>

</body>

</html>


